<footer class="link-hover">
  <div class="top-area section pb-0">
    <div class="container">

      <div class="ptb-15 mt-20 mt-sm-15 b-t center-text"><a href="/" aria-current="page"
          class="logo nuxt-link-exact-active nuxt-link-active"><img src="../../assets/logo.png" alt="Site Logo"
            height="50" width="100"></a>
      </div>
    </div>
  </div>
  <div class="bottom-area section pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-15">
          <h4 class="bold mb-15">Services</h4>
          <a href="/page/about">About</a>
          <a href="/page/faq">Faq</a>
          <a href="/page/contact">Contact</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-15">
          <h4 class="bold mb-15">About</h4>
          <a href="/page/refund-policy">Refund Policy</a>
          <a href="/page/privacy-policy">Privacy Policy</a>
          <a href="/page/help">Help</a>
          <a href="/page/sitemap">Sitemap</a>
        </div>
        <div class="col-lg-3 col-md-6 payment mb-20 mb-sm-15">
          <h4 class="bold mb-15">Payment</h4>
          <div class="payment-icons">
            <a href="https://www.paypal.com" target="_blank">
              <img src="../../assets/paypal.png" alt="Paypal" title="Paypal" height="50" width="50" class="lazy-img">
            </a>
            <a href="https://mastercard.com" target="_blank">
              <img src="../../assets/mastercard.png" alt="MasterCard" title="MasterCard" height="50" width="50"
                class="lazy-img">
            </a>
            <a href="https://visa.com" target="_blank">
              <img src="../../assets/visa.png" alt="VisaCard" title="VisaCard" height="50" width="50" class="lazy-img">
            </a>
            <a href="https://americanexpress.com" target="_blank">
              <img src="../../assets/payonneer.png" alt="AmericanExpress" title="payonneer" height="50" width="50"
                class="lazy-img">
            </a>

          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-15 mb-xs">
          <h4 class="bold mb-15">
            Social
          </h4>
          <a href="https://instagram.com" target="_blank">
            <img src="../../assets/instagram.png" alt="Instagram" title="Instagram" height="50" width="50"
              class="lazy-img">
            Instagram
          </a>
          <a href="https://facebook.com" target="_blank">
            <img src="../../assets/facebook-footer.png" alt="Facebook" title="Facebook" height="50" width="50"
              class="lazy-img">
            Facebook
          </a>
          <a href="https://twitter.com" target="_blank">
            <img src="../../assets/twitter.png" alt="Twitter" title="Twitter" height="50" width="50" class="lazy-img" />
            Twitter
          </a>
          <a href="https://linkedin.com" target="_blank">
            <img src="../../assets/linkedin.png" alt="Linkedin" title="Linkedin" height="50" width="50"
              class="lazy-img" />
            Linkedin
          </a>
        </div>
      </div>
      <p class="ptb-15 mt-10 b-t center-text"> © 2023 - All rights reserved by Ramzi's Store </p>
    </div>
  </div>
</footer>
