<!-- ======= Header ======= -->
<div *ngIf="isConnected==true ">
  <div >
  <header *ngIf="forbidden==false" id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center" style="text-decoration:none;">
        <img src="../../assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Admin Dashboard</span>
      </a>
      <a (click)="toggle()"><i class="bi bi-list toggle-sidebar-btn"></i></a>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" (click)="NotifChecked()">
            <i class="bi bi-bag-heart"></i>
            <span class="badge bg-primary badge-number" *ngIf="notifCounter>0">{{notifCounter}}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
            style="overflow-y:auto;position: relative;max-height: 400px;">
            <li class="dropdown-header">
              <span *ngIf="notifCounter>0">You have {{notifCounter}} new orders</span>
              <span *ngIf="notifCounter==0">No news orders</span>
              <a href="/orders"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item" *ngFor="let notif of newnotifs" [routerLink]="['/order/',notif.elementID] "
              style="cursor: pointer;background-color: #f6f9ff;">
              <i class="bi bi-bag-heart text-success"></i>
              <div>
                <h4>Order</h4>
                <p>new order avalaible ID : <a [routerLink]="['/order/',notif.elementID] ">{{notif.elementID}}</a> </p>
                <p>{{getTimeDifference(notif.createdAt.toString())}} ago</p>
              </div>
            </li>

            <li class="notification-item" *ngFor="let notif of notifications"
              [routerLink]="['/order/',notif.elementID] " style="cursor: pointer;">
              <i class="bi bi-bag-heart text-success"></i>
              <div>
                <h4>Order</h4>
                <p>new order avalaible ID : <a [routerLink]="['/order/',notif.elementID] ">{{notif.elementID}}</a> </p>
                <p>{{getTimeDifference(notif.createdAt.toString())}} ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="/orders">Show all orders</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 1 new message
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="../../assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{connectedAdmin.avatar}}" alt="Profile" class="rounded-circle">
            <span
              class="d-none d-md-block dropdown-toggle ps-2 text-uppercase">{{connectedAdmin.lastname[0]}}.{{connectedAdmin.firstname}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{connectedAdmin.lastname}} {{connectedAdmin.firstname}}</h6>
              <span>{{connectedAdmin.role}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;" (click)="Logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside *ngIf="forbidden==false" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>

        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/orders" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Orders management</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-tags"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li >
            <a href="/insertproduct" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Add Product</span>
            </a>
          </li>
          <li>
            <a href="/products" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>List products</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-tag"></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li >
            <a href="/insertcategory" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Add new Category</span>
            </a>
          </li>
          <li>
            <a href="/listcategories" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>List categories</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Subcategories" data-bs-toggle="collapse" href="#">
          <i class="bi bi-tag"></i><span>Subcategories</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Subcategories" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li >
            <a href="/insertsubcategory" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Add new Subategory</span>
            </a>
          </li>
          <li>
            <a href="/subcategories" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>List subcategories</span>
            </a>
          </li>

        </ul>
      </li>
      <!-- End machines Nav -->
      <li *ngIf="permission==admin" class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Admin" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-gear"></i><span> Admin & Vendor </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Admin" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/register" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Add admin vendor</span>
            </a>
          </li>
          <li>
            <a href="/admins&vendor" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span> Admin Vendor managment</span>
            </a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Subscription" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-vcard"></i><span> Subscription </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Subscription" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/subscribers" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span>Subscribers</span>
            </a>
          </li>
          <li>
            <a href="" style="text-decoration:none;">
              <i class="bi bi-circle"></i><span> Email formats</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-heading">Platform prameters</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>General</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>Offers Posts</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->



  <main id="main" class="main">
    <!--
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="addmachine">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div> -->

    <section class="section dashboard">
      <ngx-loading-bar ref="http"  [height]="'5px'" [color]="'blue'" [includeSpinner]="false" ></ngx-loading-bar>
      <router-outlet>

      </router-outlet>
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Ramzi's ERP Systems</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://www.facebook.com/ramzikrichen95/">Ramzi Krichen</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>








  <!-- ------------------- Scripts & links ---------------------------->



  <!-- Vendor JS Files -->

</div>
</div>
<div *ngIf="isConnected==false ">
  <app-login></app-login>
</div>