
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap"
    rel="stylesheet">



<main id="main" class="main">

    <section class="section">
        <div class="container  ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            <div style="overflow-x: scroll;">
                                <table *ngIf="users" datatable>

                                    <thead class="mt-2 " style="background-color: rgb(184, 184, 184); ">
                                        <tr class="text-center ">
                                           <!--  <th data-sortable="true" style="width: 45%; font-size: small;">ID</th> -->
                                            <th class="text-center "data-sortable="true" style="width: 15%; font-size: small;">Name</th>
                                            <th class="text-center "data-sortable="true" style="width: 15%; font-size: small;">Email</th>
                                            <th class="text-center "data-sortable="true" style="width: 15%; font-size: small;">Created</th>
                                            <th  *ngIf="permission==admin" class="text-center "data-sortable="true" style="width: 20%; ">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr data-index="0" *ngFor="let u of users">
                                           <!--  <td
                                                style="overflow: hidden; max-width: 80px; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle;">
                                                {{u._id}}</td> -->
                                            <td style="vertical-align: middle;">{{u.displayName}}</td>
                                            <td style="vertical-align: middle;">{{u.email}}</td>
                                            <td style="vertical-align: middle;">{{ u.createdAt | date:'short' }}</td>

                                            <td   *ngIf="permission==admin" class="text-center">
                                                <div class="btn-group">
                                                    <button class="btn btn-outline-danger dropdown_icon"
                                                        style="width: 100px;" (click)="deleteUser(u._id)"
                                                        data-toggle="dropdown">
                                                        Delete
                                                    </button>

                                                </div>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




