<div class="order-status mb-30 mt-20">
  <div class="status-item active" >
    <span class="flex"><b>1</b></span>
     <span class="f-9 bold status-str mtb-10">Pending</span>
    </div>
  <div class="status-item">
    <span class="flex"><b>2</b></span>
    <span class="f-9 bold status-str mtb-10">Confirmed</span>
  </div>
  <div class="status-item">
    <span class="flex"><b>4</b></span>
    <span class="f-9 bold status-str mtb-10">On the way</span>
  </div>
  <div class="status-item"><span class="flex"><b>5</b></span>
     <span class="f-9 bold status-str mtb-10">Delivered</span>
  </div>
</div>
